html,body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

.background,div#portletGrid {
	background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
		linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
		linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
		linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
		linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
		linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%,
		transparent 75%, #242424 75%, #242424) !important;
	background-color: #131313 !important;
	background-size: 20px 20px !important;
}

.gridContainerTable {
	border-top: 1px solid #BFBFBF !important;
	border: none;
}

.gridContainerZone {
	background-color: inherit;
}

.dijitButtonHover {
	/* IE10 Consumer Preview */
	background-image: -ms-linear-gradient(bottom, #171717 0%, #B50B38 100%)
		!important;
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(bottom, #171717 0%, #B50B38 100%)
		!important;
	/* Opera */
	background-image: -o-linear-gradient(bottom, #171717 0%, #B50B38 100%)
		!important;
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #171717),
		color-stop(1, #B50B38)) !important;
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(bottom, #171717 0%, #B50B38 100%)
		!important;
	/* W3C Markup, IE10 Release Preview */
	background-image: linear-gradient(to top, #171717 0%, #B50B38 100%)
		!important;
	border-bottom: none;
}

.nihilo .dijitToolbar {
	/* IE10 Consumer Preview */
	background-image: -ms-linear-gradient(bottom, #171717 0%, #B50B38 100%)
		!important;
	/* Mozilla Firefox */
	background-image: -moz-linear-gradient(bottom, #171717 0%, #B50B38 100%)
		!important;
	/* Opera */
	background-image: -o-linear-gradient(bottom, #171717 0%, #B50B38 100%)
		!important;
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #171717),
		color-stop(1, #B50B38)) !important;
	/* Webkit (Chrome 11+) */
	background-image: -webkit-linear-gradient(bottom, #171717 0%, #B50B38 100%)
		!important;
	/* W3C Markup, IE10 Release Preview */
	background-image: linear-gradient(to top, #171717 0%, #B50B38 100%)
		!important;
	border-bottom: none !important;
}

#mainContainer {
	width: 100%;
	height: 100%;
}

.RETROtxt {
	font-size: 100px;
	color: #fff;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px
		#00DEFF, 0 0 70px #00DEFF, 0 0 80px #00DEFF, 0 0 100px #00DEFF, 0 0
		150px #00DEFF;
	display: inline;
	margin-left: 20px;
}

.logo {
	margin-top: 1%;
	display: inline;
}

.dialogLabel {
	float: left;
}

.dialogTextfield {
	float: right;
	width: 55%;
}

.dialogSelectbox {
	width: 200px;
	float: right;
}

.dialogSize {
	position: relative;
}

.menuRight {
	float: right;
	margin-right: 5px;
	height: 100% !important;
}

.menuLeft {
	float: left;
	margin-left: 5px;
	height: 100% !important;
}

.menuButton {
	height: 60% !important;
	margin-top: 7% !important;
}

span#tb_menubar_NewChart_label.dijitReset.dijitInline.dijitButtonText,span#tb_menubar_settings_label.dijitReset.dijitInline.dijitButtonText,span#tb_menubar_logout_label.dijitReset.dijitInline.dijitButtonText
	{
	font-size: 125% !important;
	color: #fff;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px
		#00DEFF, 0 0 70px #00DEFF, 0 0 80px #00DEFF, 0 0 100px #00DEFF, 0 0
		150px #00DEFF;
}

.menu {
	height: 35px !important;
}

.treeCell {
	vertical-align: top;
}

.dijitDialogPaneActionBar {
	margin-top: 5px;
	margin-bottom: 5px;
	float: right !important;
}

.dijitDialog {
	background: white !important;
}

.resizeHandleChart {
	position: relative;
	right: -8px;
	bottom: 6px;
}

.dijitDownArrowButton {
	width: 10%;
}

.dijitSelect {
	width: 55%;
}

.dijitIconKeyLogin {
	background-image: url("../img/key_login.png");
}

.dijitIconOptions {
	background-image: url("../img/options.png");
}

.dijitIconChart {
	background-image: url("../img/pie-chart_graph.png");
}